
{% extends "base.html" %}
{% load static %}
{% block one %}
      <section id="welcome">
      <div >
         
        <div class="row my-5 align-item-center justify-content-center">
                <div class="col-8 col-lg col-xl-12 col-xxl-12">
                <img src="{%static 'images/stop.jpg' %}" class="img-thumbnail img-responsive img-fluid" alt="Stop">
            </div>
        </div>
        <!--this is the image and goals -->
        
          </section>
        
          <!-- the cards section  start here --------------------- ---------------- --> 
        
       {% endblock one %}
    