
{% extends "base.html" %}
{% load static %}
{% block one %}
      <section id="welcome">
      <div >
          <h1 style="text-align:center; padding-top:30;">
            <mark style=" color: black; background: none">
             مرحبا بكم
            </mark>
            <mark style=" color: black; background: none">
              في تضافر
            </mark>
            </h1>
        <div class="row my-5 align-item-center justify-content-center">
                <div class="col-8 col-lg col-xl-12 col-xxl-12">
                <img src="{%static 'images/stop.jpg' %}" class="img-thumbnail img-responsive img-fluid" alt="Stop">
            </div>
        </div>
        <!--this is the image and goals -->
        <div class="goal ">
            <h2 style="direction: rtl"> تضافر:</h2>
            <p style="direction: rtl">
              حياتنا تغيرت 
              كُله بسبب الكورونا 
              انحشرنا في بيوتنا ، سكرت المدارس ،تعبت نفسياتنا ، زاد وزنا ، وخسرنا شغلنا والكل مضغوط . 
              بصراحة الوضع صار متعب للجميع . 
              عشان هيك احنا معكم من خلال مشروع تضافر ( بكم ننهض ) لنساعدكم تحسنوا نفسياتكم وتراعوا تغذيتكم لمحاربة المرض وتحصلوا حقوقكم لحماية حالكم . 
              عندنا موقع ويب سايت وفيسبوك راح نكون معكم ونقدم لكم استشارات فردية في التغذية السليمة والصحة النفسية والحقوق مع مستشارات مختصات . 
              وكل يوم راح ننشرلكم نصيحة بتفيديكم في حياتكم . 
              ما تتردوا في التواصل معنا .
                           </p>
            </div>
          </section>
        
          <!-- the cards section  start here --------------------- ---------------- --> 
        <section id="staff" style="background-color:beige;">
          <h1 class="pt-3 text-center display-5" style="direction: rtl; color: #62949D">طاقمنا:</h1>
            <div class="row my-5 align-item-center justify-content-center">
              <div class="col-8 col-lg col-xl-3">
                <div class="card-body text-center py-4 smah">
                    <h4 class="card-title display-4" style="color: #C19276">
                       المرشدة النفسيه
                    </h4>
                    <img src="{%static 'images/eman.jpeg' %}" class="img-responsive img-fluid" alt="ايمان">
                    <p class="lead card-subtitle">
                        <p class="display-5 my-4 fw-bold" style="direction: rtl; color: #62949D">
                          ايمان محمد بدران  
                        </p>
                        
                    </p>
                </div>
            </div>
            <div class="col-8 col-lg col-xl-3">
              <div class="card-body text-center py-4 smah">
                  <h4 class="card-title display-4" style="color: #C19276">
                      المحامية
                  </h4>
                  <img src="{%static 'images/sana.jpg' %}" class="img-responsive img-fluid" alt="سناء">
                  <p class="lead card-subtitle">
                      <p class="display-5 my-4 fw-bold" style="direction: rtl; color: #62949D">
                        سناء ابراهيم جعفري
                      </p>
                      
                  </p>
              </div>
          </div>
                <div class="col-8 col-lg col-xl-3">
                    <div class="card-body text-center py-4 smah">
                        <h4 class="card-title display-4" style="color: #C19276">
                            اخصائية التغذية
                        </h4>
                        <img src="{%static 'images/smah.jpeg' %}" class="img-responsive img-fluid" alt="سماح">
                        <p class="lead card-subtitle">
                            <p class="display-5 my-4 fw-bold" style="direction: rtl; color: #62949D">
                                سماح سمير مشني
                            </p>
                           
                        </p>
                    </div>
                </div>
                
            </div>
        </section>
       {% endblock one %}
    